/*Color background barra: #42414d  - Para el tema oscuro barra*/
/*Color backgound contenedor principal: #2B2A33 - Para el tema oscuro de la pagina*/

body  {
    background-color: #2B2A33;
}
.header_table {
    display: flex;
    justify-content: center;
    padding: 10px;


    background-color: #42414d;
    color: aqua;

    input[type=text] {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        border-radius: 20px;
        background-color: white;
        color:#2B2A33;
        font-size: 15px;
        
    }

    ::placeholder {
        font-size: 15px;
        color:#2B2A33;
    }
}
.header_table > fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 800px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;


    display: flex;
    flex-wrap: wrap;
}
.logo {
    display: flex;
    justify-content: center;
}
.search_fieldset_input_container{
    display: flex;
    justify-content: center;
}
.search_fieldset_input_container > div {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    background-color: #42414d;
    border-style: solid;
    border-width: 3px;
    border-color: cyan;
    box-sizing: border-box;
    
    input[type=text] {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        border-radius: 20px;
        background-color: white;
        color:#2B2A33;
        font-size: 20px;


        flex-grow: 1;
        min-width: 0;
    }

    ::placeholder {
        font-size: 20px;
        background-color: white;
        color:#2B2A33;
    }
}
.main_image {
    scale: 0.5;
}
.NetCat-Browser-text {
    padding-top: 150px;
    margin-left: -100px;
    color: cyan;
}
.search_button {
    font-size: 20px;
    background-color: red;
    color: cyan;
}
.search_button:hover {
    background-color: orange;
}
.url_search_button {
    background-color: red;
    color: cyan;
    font-size: 15px;
}
.url_search_button:hover {
    background-color: orange;
}
.options {
    background-color: red;
    color: cyan;
    font-size: 15px;
}
.main {
    background-color: #2B2A33;
}